@model IEnumerable<ToDo>

    <div class="row">
        <div class="col-md-2">
            <form asp-action="Filter" method="post">
                <div class="mb-3">
                    <label class="form-label">Catégories:</label>
                    <select name="filter" class="form-select" 
                        asp-items="@(new SelectList(ViewBag.Categories,"CategoryId","Name",ViewBag.Filters.CategoryId))">
                        <option value="all">Toutes</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Exigible:</label>
                    <select name="filter" class="form-select"
                        asp-items="@(new SelectList(ViewBag.DueFilters,"Key","Value",ViewBag.Filters.Due))">
                        <option value="all">Tout</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Statut:</label>
                    <select name="filter" class="form-select"
                            asp-items="@(new SelectList(ViewBag.Statuses,"StatusId","Name",ViewBag.Filters.StatusId))">
                        <option value="all">Tout</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Filtrer</button>
                <a asp-action="index" asp-route-id="" class="btn btn-primary">Effacer</a>
            </form>
        </div>
        <div class="col-md-10">
            <form asp-action="MarkComplete" method="post" asp-route-id="@ViewBag.Filters.FilterString">
                <table class="table table-bordered table-striped mt-2">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Catégories</th>
                            <th>Date d'échéance</th>
                            <th>Statut</th>
                            <th class="w-25"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(ToDo task in Model)
                    {
                        string overdue = task.Overdue ? "bg-warning" : "";
                        <tr>
                            <td>@task.Description</td>
                            <td>@task.Category.Name</td>
                            <td class="@overdue">@task.DueDate?.ToShortDateString()</td>
                            <td class="@overdue">@task.Status.Name</td>
                            <td>
                                @if (task.StatusId =="open")
                                {
                                    <button type="submit" class="btn btn-primary btn-sm"
                                            name="@nameof(ToDo.Id)" value="@task.Id">
                                        Marquer comme terminé
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
                </table>
            </form>
            <form asp-action="DeleteComplete" method="post" asp-route-id="@ViewBag.Filters.FilterString">
            <a asp-action="Add" class="btn btn-primary">Ajouter une nouvelle tâche</a>
            <button type="submit" class="btn btn-primary">Supprimer les tâches terminées</button>
            </form>
        </div>
    </div>